body { margin:0px; }

div
{
  flex-flow:column;
}
        
.wrapper > * {
  margin: 10px;
  padding: 20px; 
  background-color: lightgray;
  border-radius: 10px;
}
.wrapper { 
  display: flex;
  flex-flow: row wrap;
}
.wrapper > * { 
  flex: 1; 
}
.wrapper header, 
.wrapper footer { 
  flex: 0 1 100vw; 
}
.wrapper { min-height: 100vh; }

