body { margin:0px; }
     
.wrapper > * {
  margin: 10px;
  padding: 20px; 
  background-color: lightgray;
  border-radius: 10px;
  
}
.wrapper { 
  display: flex;
  flex-flow: column wrap;
}
.wrapper > * { 
  flex: 1; 
}
.head, 
.foot { 
  flex: 0 1 100vw;   
}

.wrapper { min-height: 100vh; }